<header class="cell slider">
  <h2 contenteditable="false" class="is-contenteditable save-title">{{ title }}</h2>
  <a href="javascript:void(0);" class="icon edit on-right editable edit-title">Edit</a>
</header>
<ul class="points">
  {{#each points}}
    <li class="point saveable">
      <header class="cell">
        <h3 contenteditable="false" class="is-contenteditable save-pt-title">{{ title }}</h3>
        <a href="javascript:void(0);" class="icon edit on-right editable edit-point">Edit</a>
      </header>
      <div class="body rich">{{#if body}}{{ markdown body }}{{/if}}</div>
      <div class="is-contenteditable body plain save-pt-body" contenteditable="false">{{ body }}</div>
    </li>
  {{/each}}
</ul>