<header class="cell slider">
  <h2>{{ title }}<a href="javascript:void(0);" class="icon edit on-right editable edit-title">Edit</a></h2>
</header>
<ul class="points">
  {{#each points}}
    <li class="point">
      <header class="cell">
        <h3>{{ title }}<a href="javascript:void(0);" class="icon edit on-right editable edit-point">Edit</a></h3>
      </header>
      <ul class="bullets">
        {{ markdown body }}
      </ul>
    </li>
  {{/each}}
</ul>