<!DOCTYPE HTML>
<html lang="en-US">
<head>
  <meta charset="UTF-8">
  <title>Tacbac</title>
  <link rel="stylesheet" type="text/css" href="/css/styles.css" media="all">
  <link href='http://fonts.googleapis.com/css?family=Lato:100' rel='stylesheet' type='text/css'>
</head>
<body>
<ul id="areas" class="flow screen-wide">
  <li><h3>2012</h3></li>
  <li><h3>2013</h3></li>
</ul>
<ul id="cats" class="flow col-wide">
  <li><h3>Jan</h3></li>
  <li><h3>Feb</h3></li>
  <li><h3>Mar</h3></li>
</ul>
<ul id="cols" class="flow col-wide">
  <li>
    <ul class="items">
      <li>
        <header>
          <h3>Todd Steadman</h3>
        </header>
        <ul class="bullets">
          <li>Quit this</li>
          <li>Star this</li>
        </ul>
      </li>
      <li>
        <header>
          <h3>David Armstrong</h3>
        </header>
        <ul class="bullets">
          <li>Mentor this</li>
          <li>Read this</li>
        </ul>
      </li>
      <li>
        <header>
          <h3>Action</h3>
        </header>
        <ul class="bullets">
          <li>Packed</li>
          <li>Suspense</li>
        </ul>
      </li>
    </ul>
  </li>
  <li>
    <ul class="items">
      <li>
        <header>
          <h3>David Armstrong</h3>
        </header>
        <ul class="bullets">
          <li>Mentor this</li>
          <li>Read this</li>
        </ul>
      </li>
      <li>
        <header>
          <h3>Action</h3>
        </header>
        <ul class="bullets">
          <li>Packed</li>
          <li>Suspense</li>
        </ul>
      </li>
    </ul>
  </li>
</ul>
</body>
</html>