body {
  margin: 0;
  padding: 0;
  color: #3d3d3d;
  font-family: arial, helvetica, sans-serif;
  overflow-x: auto;
  overflow-y: auto;
}
ul, ol {
  padding: 0;
  margin:  0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  padding: 0;
  margin: 0;
  font-family: 'Lato', arial, helvetica, sans-serif;
  font-weight: 100;
}
a {
  text-decoration: none;
}

.screen-wide li {
  width: 960px;  /*test - adj w/ js */
}
.col-wide li {
  max-width: 100%;
  width: 320px;
}
.flow {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 1920px;  /*test - adj w/ js */
}
.flow li {
  float: left;
  border-right: #3d3d3d;
}
.cell {
  padding: 10px 15px;
}
.slider {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 0%, #f3f3f3 77%, #e2e2e2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(77%,#f3f3f3), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ffffff 0%,#f3f3f3 77%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ffffff 0%,#f3f3f3 77%,#e2e2e2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ffffff 0%,#f3f3f3 77%,#e2e2e2 100%); /* IE10+ */
  background: linear-gradient(left, #ffffff 0%,#f3f3f3 77%,#e2e2e2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=1 ); /* IE6-9 */
}

#cats {
  top: 0;
  font-size: 30px;
}
#cols {
  top: 60px;
}
#cols h2 {
  font-size: 60px;
}

.item > header {
  background: #acb7b9;
}
.item > header h3 {
  color: #fff;
  font-weight: bold;
  font-size: 24px;
  text-shadow: 1px 2px #ababab;
}
.item .bullets {
  padding: 20px 0;
}
.item .bullets li {
  float: none;
  list-style-type: square;
  list-style-position: inside;
  padding-left: 20px;
  width: auto;
}
