@txt: #3d3d3d;
@border: #c1cfd3;
@heavy-color: #acb7b9;
@add-bg: #ebebeb;
@add-txt: #cecdcd;
@edit-bg: #c1cfd3;
@edit-txt: #848e90;
.grad {
  background: #ffffff; /* Old browsers */
  background: -moz-linear-gradient(left, #ffffff 0%, #f3f3f3 77%, #e2e2e2 100%); /* FF3.6+ */
  background: -webkit-gradient(linear, left top, right top, color-stop(0%,#ffffff), color-stop(77%,#f3f3f3), color-stop(100%,#e2e2e2)); /* Chrome,Safari4+ */
  background: -webkit-linear-gradient(left, #ffffff 0%,#f3f3f3 77%,#e2e2e2 100%); /* Chrome10+,Safari5.1+ */
  background: -o-linear-gradient(left, #ffffff 0%,#f3f3f3 77%,#e2e2e2 100%); /* Opera 11.10+ */
  background: -ms-linear-gradient(left, #ffffff 0%,#f3f3f3 77%,#e2e2e2 100%); /* IE10+ */
  background: linear-gradient(left, #ffffff 0%,#f3f3f3 77%,#e2e2e2 100%); /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#e2e2e2',GradientType=1 ); /* IE6-9 */
}
.border(@width: 5px) {
  border-bottom: @width solid @border;
}
.col-wide {
  max-width: 100%;
  width: 320px;
}
.screen-wide {
  width: 960px;  /*test - adj w/ js */
}
.special-font {
  font-family: 'Lato', arial, helvetica, sans-serif;
  font-weight: 100;
}

body {
  margin: 0;
  padding: 0;
  color: @txt;
  font-family: arial, helvetica, sans-serif;
  position: absolute;
  height: auto;
  width: 2400px;
}
header, section, article, nav {
  display: block;
}
ul, ol {
  padding: 0;
  margin:  0;
  list-style: none;
}
h1, h2, h3, h4, h5, h6 {
  display: inline-block;
  padding: 0;
  margin: 0;
  .special-font;
}
a {
  text-decoration: none;
}

.icon {
  background: url('../img/icons.png') no-repeat center center;
  overflow: hidden;
  display: inline-block;
  text-indent: -9999em;
  &.edit {
    background-position: -19px -22px;
    width: 19px;
    height: 19px;
  }
  &.add {
    background-position: -51px -21px;
    width: 23px;
    height: 23px;
  }
  &.settings {
    background-position: -84px -17px;
    width: 30px;
    height: 30px;
  }
  &.ok {
    background-position: -126px -14px;
    width: 36px;
    height: 36px;
  }
  &.cancel {
    background-position: -169px -12px;
    width: 36px;
    height: 36px;
  }
  &.rm {
    background-position: -212px -22px;
    width: 20px;
    height: 20px;
  }
  &.on-right {
    margin-left: 5px;
  }
  &.on-left {
    margin-right: 5px;
  }
}

.flow {
  overflow: auto;
  position: absolute;
  top: 0;
  left: 0;
  width: 2400px;  /*test - adj w/ js */
}
.flow > li {
  border-right: 1px solid @border;
}
.flow li {
  float: left;
}
.cell {
  padding: 10px 15px;
  img {
    max-width: 100%;
  }
}
.slider {
  .grad;
  .border;
}

#cols {
  top: 0;
  li {
    .col-wide;
  }
  .slider {
    .border(15px);
    h2 {
      font-size: 60px;
    }
    &.add {
      background: @add-bg;
      color: @add-txt;
      cursor: pointer;
      h2 {
        font-size: 30px;
        font-weight: bold;
        padding: 18px 0;
      }
    }
  }
  .point {
    & > header {
      background: #acb7b9;
      &.add {
        background: @add-bg;
        cursor: pointer;
        h3 {
          color: @add-txt;
          text-shadow: none;
        }
      }
      h3 {
        color: #fff;
        font-weight: bold;
        font-size: 24px;
        text-shadow: 1px 2px #ababab;
      }
    }
    .body {
      padding: 20px 0;
      &.plain {
        display: none;
        background: #efefef;
      }
      li {
        float: none;
        list-style-type: square;
        list-style-position: inside;
        padding-left: 20px;
        width: auto;
      }
    }
  }
}

#editor {
  display: none;
  position: absolute;
  left: 0;
  top: -3px;
  padding: 15px 0;
  background: @edit-bg;
  color: @edit-txt;
  .col-wide;
  box-shadow: 2px 3px #707070;
  textarea {
    min-height: 50px;
    max-height: 500px;
    margin: 0 10px;
    max-width: 294px;
    width: 100%;
  }
  .btns {
    overflow: auto;
    margin: 0 10px;
    .ok {
      float: right;
    }
    .cancel {
      float: left;
    }
  }
}
.editable {
  display: none;
}
#edit-tgl {
  position: fixed;
  bottom: 0;
  right: 0;
  padding: 10px;
  cursor: pointer;
  div {
    margin: 0 auto;
  }
}
.edit-mode {
  .editable.addable,
  .editable.removable {
    display: inline-block;
  }
  &.no-contenteditable {
    .editable {
      display: inline-block;
    }
  }
  #edit-tgl {
    background: @add-bg;
  }
}

#login {
  border-bottom: 1px solid @border;
  padding: 15px 15px;
  overflow: auto;
  input {
    display: block;
    border: 1px solid @border;
    font-size: 24px;
    width: 100%;
    &[type=submit] {
      background: @heavy-color;
      color: #fff;
      cursor: pointer;
      text-align: right;
    }
  }
}